.input-field label {
  color: white;
}

.input-field input[type='text']:focus + label {
  color: white;
}
.input-field input[type='text'] {
  border-bottom: 1px solid #fff !important;
}
.input-field input[type='submit'] {
  color: #000 !important;
}
